<h1>About Me</h1>
<div class="row">
	
	<div class="col-6">
		<p>zhiyang wang</p>
		<div>
			<p >
				I'm a creative thinker, a quick learner, a planner, and a do-er. I am a confident, friendly and driven person. I have touched programming about 2 years ago, In the beginning, I have learned as a front-end developer and developed several demo websites by using different front-end frameworks, such as AngularJS, Angular2, React. As I  went deep into the development process. I wanted to learn more about back-end technology and become a full stack web developer. so I learned how to build website server by Java spring, node.js and integrated these with previous demo websites. Recently I have been learning Ruby on rails and this website is built on this technology. I'm looking for learning more cutting-edge programming technology and join a talented team to built some fantastic applications. 
			</p>
			
		</div>
		<br>
		<p class="emial-contact"><a href="mailto:zywang1218@gmail.com?subject=PortfolioCOntact"'emial me'> Email me</a></p>
	</div>
	<div class="col-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.6890702918645!2d-74.02803538474431!3d40.746866779328116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259de94dced4f%3A0xd4c9d146086e72ae!2sStevens+Institute+of+Technology!5e0!3m2!1sen!2sus!4v1546382305302" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

	</div>

	
</div>