<h1>Pages#about</h1>
<div class="row">
	
	<div class="col-6">
		<p>Find me in app/views/pages/about.html.erb</p>
		<p><a href="mailto:zywang1218@gmail.com?subject=PortfolioCOntact"'emial me'> Emial me</a></p>
	</div>
	<div class="col-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.6890702918645!2d-74.02803538474431!3d40.746866779328116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259de94dced4f%3A0xd4c9d146086e72ae!2sStevens+Institute+of+Technology!5e0!3m2!1sen!2sus!4v1546382305302" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

	</div>

	
</div>