<div class="contact-infor">
	<div>
		<p>Address</p>
		<p>4266 RiverSide Station Blvd, Secaucus, NJ07094</p>
	</div>
	<div>
		<p>Phone</p>
		<p>201-492-4684</p>
	</div>
	<div>
		<p>Email</p>
		<p><a href="mailto:zywang1218@gmail.com?subject=PortfolioCOntact"'emial me'> Email me</a></p>
	</div>
</div>
